<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />

    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/LANDIGPAGE.css" />

  </head>

  <body class="flex-column">

    <section class="landigpage homeSection">
      <!-- Main section containing the homepage content --> 
      <div class="flexColumn">
        <div class="flexRow">
          <img class="imagePrimary" src="/assets/7ae94a89bc042779aee6d3dcb8f0f8a1.svg" alt="alt text" />
          <div class="flexRowMenu">
            <h3 class="menuItemHome">Home</h3>
            <h3 class="menuItemService">Service</h3>
            <h3 class="menuItemAbout">About</h3>
            <h3 class="menuItemLibrary">Library</h3>
          </div>
          <img class="imageSecondary" src="/assets/64bf167682775a98f0879c95569c739e.svg" alt="alt text" />
        </div>
        <div class="flexRowContent">
          <div class="flexColumnContent">
            <div class="flexColumnHero">
              <h1 class="heroTitle">SCANDINAVIAN INTERIOR PLANNING AND EXECUTION</h1>
              <p class="heroDescription">Experience the Simplicity, Clarity, and Elegance in Digital Product Design</p>
            </div>
            <div class="flexRowImages">
              <img class="imageThird" src="/assets/e11d1cf3ed2a2ac84f74d7b4c5a0161a.svg" alt="alt text" />
              <img class="imageFourth" src="/assets/1ba7f4c82b41a89e1b73ea210ffa5305.png" alt="alt text" />
              <div class="flexColumnStats">
                <h3 class="statValue120K">120K</h3>
                <p class="highlightedCustomers">Happy Costumers</p>
              </div>
            </div>
          </div>
          <img class="imageFifth" src="/assets/a1325d37786eec73a9cc2d62e15895fa.png" alt="alt text" />
          <div class="flexColumnFurniture">
            <img class="imageSixth" src="/assets/22bbcf5da929a53c9483be95728e2c7f.png" alt="alt text" />
            <div class="flexRowFurnitureTitle">
              <h2 class="furnitureSectionTitle">Unlimited Furniture</h2>
              <img class="imageSeventh" src="/assets/d6ea5edd4fcf6759cd6d8f1e50b3fa4c.svg" alt="alt text" />
            </div>
            <div class="flexRowDate">
              <img class="imageEighth" src="/assets/36777422712669bdccc5d605af6e29cd.svg" alt="alt text" />
              <img class="imageNinth" src="/assets/6d4c4c0ced161b6d96d861269dd131ea.svg" alt="alt text" />
              <p class="dateHighlightJuly2024">July 2024</p>
            </div>
            <div class="flexRowDesignTitle">
              <h2 class="designSectionTitleNew">New Interior Design Clean</h2>
              <img class="imageTenth" src="/assets/c7ac2440803680e4fa66c0f0af4a6374.png" alt="alt text" />
            </div>
            <div class="flexRowDesignSecond">
              <img class="imageEleventh" src="/assets/73bc423edbeee30f6ba726f9ffa4a554.svg" alt="alt text" />
              <img class="imageTwelfth" src="/assets/7e166834699355acb6c7ce48c5042190.svg" alt="alt text" />
              <p class="designSecondHighlightJuly2024">July 2024</p>
            </div>
            <div class="flexRowHotFurniture">
              <h2 class="hotFurnitureSectionTitle">Hot Furniture</h2>
              <img class="image14" src="/assets/c7ac2440803680e4fa66c0f0af4a6374.png" alt="alt text" />
            </div>
            <div class="flexRowHotFurnitureImages">
              <img class="imageThirteenth" src="/assets/f8264d7600fa847a4300d87f5e3105d8.png" alt="alt text" />
              <img class="imageFourteenth" src="/assets/01caa9b7979bc743dc533378a66681fb.png" alt="alt text" />
              <p class="hotFurnitureDateHighlightJuly2024">July 2024</p>
            </div>
          </div>
        </div>
      </div>
    </section>


  </body>

</html>
