.landigpage.homeSection {
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
}
.landigpage .flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px 0;
  margin: 32px auto 74px;
  width: 94.38%;
  max-width: 1359.0625px;
}
@media (max-width: 383px) {
  .landigpage .flexColumn {
    gap: 50px 0;
    margin: 32px auto 50px;
  }
}
.landigpage .flexRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  width: 96.25%;
}
@media (max-width: 383px) {
  .landigpage .flexRow {
    -moz-column-gap: 8px;
    column-gap: 8px;
  }
}
.landigpage .imagePrimary {
  width: 172px;
  -o-object-fit: contain;
  object-fit: contain;
}
.landigpage .flexRowMenu {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  width: 339px;
  min-width: 0;
}
@media (max-width: 575px) {
  .landigpage .flexRowMenu {
    display: none;
  }
}
.landigpage .menuItemHome {
  font: 300 20px/1.2 "Inria Sans", Helvetica, Arial, serif;
  color: #2a2626;
}
@media (max-width: 991px) {
  .landigpage .menuItemHome {
    align-items: flex-start;
    font-size: 18px;
  }
}
.landigpage .menuItemService {
  font: 300 20px/1.2 "Inria Sans", Helvetica, Arial, serif;
  color: #2a2626;
}
@media (max-width: 991px) {
  .landigpage .menuItemService {
    align-items: flex-start;
    font-size: 18px;
  }
}
.landigpage .menuItemAbout {
  font: 300 20px/1.2 "Inria Sans", Helvetica, Arial, serif;
  color: #2a2626;
}
@media (max-width: 991px) {
  .landigpage .menuItemAbout {
    align-items: flex-start;
    font-size: 18px;
  }
}
.landigpage .menuItemLibrary {
  font: 300 20px/1.2 "Inria Sans", Helvetica, Arial, serif;
  color: #2a2626;
}
@media (max-width: 991px) {
  .landigpage .menuItemLibrary {
    align-items: flex-start;
    font-size: 18px;
  }
}
.landigpage .imageSecondary {
  width: 125px;
  min-width: 0;
  border-radius: 20px;
  outline: 1px solid #2a2626;
  outline-offset: -1px;
  -o-object-fit: cover;
  object-fit: cover;
}
.landigpage .flexRowContent {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  width: 100%;
}
@media (max-width: 1199px) {
  .landigpage .flexRowContent {
    flex-direction: column;
    align-items: center;
    gap: 30px 10px;
  }
}
.landigpage .flexColumnContent {
  display: flex;
  flex-direction: column;
  gap: 42px 0;
  margin: 204px 0 54px;
  width: 502px;
  min-width: 0;
}
@media (max-width: 1199px) {
  .landigpage .flexColumnContent {
    margin: 0;
    width: 100%;
    min-width: unset;
  }
}
.landigpage .flexColumnHero {
  display: flex;
  flex-direction: column;
  gap: 34px 0;
  margin: 0 4px 0 0;
}
.landigpage .heroTitle {
  font: 400 62px/1.2 Inter, Helvetica, Arial, serif;
  color: black;
}
@media (max-width: 991px) {
  .landigpage .heroTitle {
    align-items: flex-start;
    font-size: 52px;
  }
}
@media (max-width: 479px) {
  .landigpage .heroTitle {
    font-size: 36px;
  }
}
.landigpage .heroDescription {
  margin: 0 0 0 4px;
  width: 317px;
  max-width: 85%;
  font: 400 13px/1.23 Inter, Helvetica, Arial, serif;
  color: black;
}
.landigpage .flexRowImages {
  display: flex;
  align-items: center;
  gap: 0 16px;
}
@media (max-width: 479px) {
  .landigpage .flexRowImages {
    flex-direction: column;
    gap: 30px 16px;
  }
}
.landigpage .imageThird {
  width: 150px;
  min-width: 0;
  border-radius: 20px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 479px) {
  .landigpage .imageThird {
    width: 100%;
    min-width: unset;
    max-width: 150px;
  }
}
.landigpage .imageFourth {
  width: 186px;
  min-width: 0;
  aspect-ratio: 2.48;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 479px) {
  .landigpage .imageFourth {
    width: 100%;
    min-width: unset;
    max-width: 186px;
  }
}
.landigpage .flexColumnStats {
  display: flex;
  flex-direction: column;
  gap: 7px 0;
  width: 134px;
  min-width: 0;
}
@media (max-width: 479px) {
  .landigpage .flexColumnStats {
    width: 100%;
    min-width: unset;
  }
}
.landigpage .statValue120K {
  font: 500 20px/1.2 Inter, Helvetica, Arial, serif;
  color: black;
}
@media (max-width: 991px) {
  .landigpage .statValue120K {
    align-items: flex-start;
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .landigpage .statValue120K {
    font-size: 16px;
  }
}
.landigpage .highlightedCustomers {
  font: 300 16px/1.18 Inter, Helvetica, Arial, serif;
  color: black;
}
.landigpage .imageFifth {
  width: 472px;
  min-width: 0;
  border-radius: 20px;
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.74));
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 1199px) {
  .landigpage .imageFifth {
    width: 100%;
    min-width: unset;
    max-width: 472px;
  }
}
.landigpage .flexColumnFurniture {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 61px 0 0;
  width: 320px;
  min-width: 0;
}
@media (max-width: 1199px) {
  .landigpage .flexColumnFurniture {
    margin: 0;
    width: 100%;
    min-width: unset;
  }
}
.landigpage .imageSixth {
  width: 98.44%;
  border-radius: 20px;
  filter: drop-shadow(-5px 7px 4px rgba(0, 0, 0, 0.46));
  -o-object-fit: cover;
  object-fit: cover;
}
.landigpage .flexRowFurnitureTitle {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 79px 0 0;
  width: 98.44%;
}
@media (max-width: 383px) {
  .landigpage .flexRowFurnitureTitle {
    -moz-column-gap: 8px;
    column-gap: 8px;
    margin: 50px 0 0;
  }
}
.landigpage .furnitureSectionTitle {
  font: 400 24px/1.2 Inter, Helvetica, Arial, serif;
  color: black;
}
@media (max-width: 991px) {
  .landigpage .furnitureSectionTitle {
    align-items: flex-start;
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .landigpage .furnitureSectionTitle {
    font-size: 20px;
  }
}
.landigpage .imageSeventh {
  width: 24px;
  -o-object-fit: cover;
  object-fit: cover;
}
.landigpage .flexRowDate {
  display: flex;
  align-items: center;
  width: 100%;
}
.landigpage .imageEighth {
  width: 40px;
  border-radius: 20px;
  -o-object-fit: cover;
  object-fit: cover;
}
.landigpage .imageNinth {
  width: 40px;
  border-radius: 20px;
  -o-object-fit: cover;
  object-fit: cover;
}
.landigpage .dateHighlightJuly2024 {
  display: flex;
  justify-content: center;
  font: 300 15px/1.2 Inter, Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -0.31px;
}
.landigpage .flexRowDesignTitle {
  display: flex;
  margin: 57px 0 0;
  width: 100%;
}
@media (max-width: 383px) {
  .landigpage .flexRowDesignTitle {
    margin: 50px 0 0;
  }
}
.landigpage .designSectionTitleNew {
  font: 400 24px/1.2 Inter, Helvetica, Arial, serif;
  color: black;
}
@media (max-width: 991px) {
  .landigpage .designSectionTitleNew {
    align-items: flex-start;
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .landigpage .designSectionTitleNew {
    font-size: 20px;
  }
}
.landigpage .imageTenth {
  width: 24px;
  -o-object-fit: cover;
  object-fit: cover;
}
.landigpage .flexRowDesignSecond {
  display: flex;
  align-items: center;
  width: 100%;
}
.landigpage .imageEleventh {
  width: 40px;
  border-radius: 20px;
  -o-object-fit: cover;
  object-fit: cover;
}
.landigpage .imageTwelfth {
  width: 40px;
  border-radius: 20px;
  -o-object-fit: cover;
  object-fit: cover;
}
.landigpage .designSecondHighlightJuly2024 {
  display: flex;
  justify-content: center;
  font: 300 15px/1.2 Inter, Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -0.31px;
}
.landigpage .flexRowHotFurniture {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 57px 0 0;
  width: 98.44%;
}
@media (max-width: 383px) {
  .landigpage .flexRowHotFurniture {
    -moz-column-gap: 8px;
    column-gap: 8px;
    margin: 50px 0 0;
  }
}
.landigpage .hotFurnitureSectionTitle {
  font: 400 24px/1.2 Inter, Helvetica, Arial, serif;
  color: black;
}
@media (max-width: 991px) {
  .landigpage .hotFurnitureSectionTitle {
    align-items: flex-start;
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .landigpage .hotFurnitureSectionTitle {
    font-size: 20px;
  }
}
.landigpage .image14 {
  width: 24px;
  -o-object-fit: cover;
  object-fit: cover;
}
.landigpage .flexRowHotFurnitureImages {
  display: flex;
  margin: 6px 0 0;
  width: 100%;
}
.landigpage .imageThirteenth {
  width: 40px;
  border-radius: 20px;
  -o-object-fit: cover;
  object-fit: cover;
}
.landigpage .imageFourteenth {
  width: 40px;
  border-radius: 20px;
  -o-object-fit: cover;
  object-fit: cover;
}
.landigpage .hotFurnitureDateHighlightJuly2024 {
  display: flex;
  justify-content: center;
  margin: 10px 0 12px;
  font: 300 15px/1.2 Inter, Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -0.31px;
}